{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Organisation{% endblock %}
{# La page Organisation Bureau #}
{% block body %}

    <div class="container bureau_main">

        {# La photo de groupe sur le Bureau #}
        <div class="partie1 col-sm-12 col-lg-5">
            <p><img id="img-bureau" src="{{ asset('content/Groupe.png') }}" alt=""></p>
        </div>

        <div class="partie2 col-sm-12 col-lg-5">
            <div class="teste">

                {# On boucle sur User #}
                {% for user in users %}

                {# Partie Président #}
                <div class="flex1">
                {# Si il s'agit du Referent Président il s'affiche ici #}
                {% if user.referents.getNom() == 'Président' %}
                    <div class="president role_format">
                        <p class="role_user">{{ user.referents.getNom() }}</p>
                        <div class="prenom_nom_user ">
                            <p>{{ user.prenom }}</p>
                            <p>{{ user.nom }}</p>
                        </div>
                    </div>
                {% endif %}
                </div>

                {# Partie Secrétaire et Trésorier #}
                <div class="flex2">

                {# Si il s'agit du Referent Secrétaire ou Trésorier il s'affiche ici #}
                {% if user.referents.getNom() == 'Secrétaire' or user.referents.getNom() == 'Trésorier' %}
                    <div class="secretaire_tresorier role_format">
                        <p class="role_user">{{ user.referents.getNom() }}</p>
                        <div class="prenom_nom_user ">
                            <p>{{ user.prenom }}</p>
                            <p>{{ user.nom }}</p>
                        </div>
                    </div>
                {% endif %}
                </div>

                {# Partie Autres Référent #}
                <div class="flex3">

                {# Si il s'agit d'un Référent qui est différent de Président, Secrétaire, Trésorier et Adhérent, il s'affiche ici #}
                {% if user.referents.getNom() != 'Président' and user.referents.getNom() != 'Secrétaire'
                    and user.referents.getNom() != 'Trésorier' and user.referents.getNom() != 'Adhérent' %}
                    <div class="other role_format">
                        <p class="role_user">{{ user.referents.getNom() }}</p>

                        <div class="prenom_nom_user ">
                            <p>{{ user.prenom }}</p>
                            <p>{{ user.nom }}</p>
                        </div>
                    </div>
                {% endif %}
                </div>


                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}