{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} |Présentation {% endblock %}

{% block body %}
    <style>
        {# le style css bootstrap par defaut #}
        .example-wrapper {
            text-align: center;
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="container-fluid">
    </div>

    {# banniere et titre #}
    <div class="container-fluid">
        <img src="{{ asset ('/content/velo-pont resize.jpg') }}" class="img-fluid" width="100%">
    </div>

    <div class="container-fluid">
        <div class="row justify-content-center text-center">

            <div class="example-wrapper"><br>
                <H1 class="font-weight-bold">Présentation de l'association</H1>
                <hr>
                <h4 class=" font-weight-bold pb-3 text-success">Association «VELO RANDO NATURE BRUZ »</h4>
                <div class="border bg-light text-center p-3">

                <p> Créée en janvier 2020, l'association <strong>« Vélo Rando Nature Bruz »</strong>
                    a pour but principal de faire découvrir le patrimoine naturel
                    et culturel de notre région grâce à<strong> la pratique du vélo</strong>,
                    activité sportive de loisir respectant l'environnement
                    et privilégiant la circulation sur voies vertes et le long des canaux.<p>

                   <p> Par ailleurs, l'association organisera également des projections
                    de films-documentaires sur le voyage
                    (notamment en partenariat avec l'association « aux quatre coins du monde »).</p>
                   <p> Elle proposera également la découverte d'autres activités sportives loisir de plein air
                    (longe-côte...). </p>
                </div>
                {# boutons d'affichage du pdf des status et de la charte #}
                <div class="p-3 text-center justify-content-center">
                    <div class=" d-flex flex-column">
                        <button class=" button m-3 btn btn-primary center-block btn-lg " onclick="maFonction()">Afficher
                            les statuts de l'association
                        </button>
                    </div>

                    <div class=" d-flex flex-column ">
                        <button class="m-3 btn btn-primary center-block btn-lg  " onclick="maFonction2()">Afficher la
                            charte de l'association
                        </button>
                    </div>

{# on affiche les pdfs issu du dossier public #}
                    <div id="maDIV" style="display:none;">
                        <div>
                            <embed class="embed-responsive"src="{{ asset('/documents/Statuts_asso_Rando nature Bruz.pdf') }}" width=800
                                   height=2300 type='application/pdf'/>
                        </div>
                    </div>


                    <div id="maDIV2" style="display:none;">
                        <div>
                            <embed class="embed-responsive" src="{{ asset('/documents/Charte_asso_Rando nature Bruz.pdf') }}" width=800
                                   height=2300 type='application/pdf'/>
                        </div>
                    </div>
                    <div class="col-auto">

                        <p><img src="{{ asset('/content/velo et enfant.png') }}"
                                class=" p-3 justify-content-center img-fluid"></p>

                        {# le js pour afficher et desafficher les pdfs #}
                        <script>
                            function maFonction() {
                                var div = document.getElementById("maDIV2");
                                div.style.display = "none";
                                var div = document.getElementById("maDIV");
                                if (div.style.display === "none") {
                                    div.style.display = "block";
                                } else {
                                    div.style.display = "none";
                                }
                            }

                            function maFonction2() {
                                var div = document.getElementById("maDIV");
                                div.style.display = "none";
                                var div = document.getElementById("maDIV2");
                                if (div.style.display === "none") {
                                    div.style.display = "block";
                                } else {
                                    div.style.display = "none";
                                }
                            }
                        </script>
                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}