{% extends 'base.html.twig' %}

{% block title %}Connexion | {{ parent() }}{% endblock %}
{# page de login #}
{% block body %}

    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}


        <div class="row d-flex justify-content-center">
            <div class="col-auto">
                <h1 class="h3 mb-3 font-weight-normal">Connectez-vous </h1>
                <label for="inputUsername">Pseudo</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control"
                       required autofocus>
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <button class="btn btn-lg btn-primary btn-block mb-1 mt-3" type="submit">
                    envoyer
                </button>
                <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a>
            </div>


        </div>
        <h2 class="text-center mt-5">Nouveau sur le site ?</h2>
        <div class="row d-flex justify-content-center mt-1 mb-5">

            <a href="{{ path('adhesion') }}" class="btn btn-lg btn-success  m-3">
                adhérez à l'association
            </a>
        </div>
        {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
        #}


    </form>

{% endblock %}
