{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block body %}

    {# La page d'accueil #}

    <div class=" container-fluid">
        <div class="row">

            {# Le logo et le nom du site sous png #}
            <div class="en-tete-accueil row col-lg-12 col-sm-12">
                    <div class="logo col-lg-12">
                    <img src="{{ asset('logos/logo-velo.png') }}" alt="">
                    </div>

                    <div class="title col-lg-12 col-sm-12">
                    <img src="{{ asset('logos/velorandonaturebruz-maj2.png') }}" alt="">
                    </div>

            </div>
            <div class="global-div-home-actu-popup col-lg-12">
                <div class="div-home-actu-popup ">
                    {# On boucle sur actualite afin d'afficher toutes les actualites existante #}
                    {% for actualite in actualites %}

                        {# Ici afficheactu est un boolean #}
                        {# Si Actualité = 1 alors on l'affiche #}
                        {% if actualite.afficheactu == 1 %}
                        <div class="actu-home col-lg-12">
                            {{ actualite.actu }}
                        </div>
                        {% else %}
                        {% endif %}
                    {% endfor %}
                    {# On inclut les news sur les activités #}
                    <div class="popup_accueil col-lg-12">
                        {% include ('home/_news_activite.html.twig') %}
                    </div>
                </div>
            </div>

            <div class="carousel-container col-lg-12">
                <div class="description-accueil row">
                    <div class="col-lg-12">

                    {# Paragraphe avant Carrousel #}
                    <p class="lead text-accueil">
                            Vous aimez les balades à vélo, la nature et avez besoin de vous évader ?
                    </p>
                    </div>

                    {# Carrousel #}
                    <div class="pic-ctn container col-lg-12 col-sm-12">
                        <img src="{{ asset('content/velo-pont resize.jpg') }}" alt="" class="pic">
                        <img src="{{ asset('content/velo et enfant.png') }}" alt="" class="pic">
                        <img src="{{ asset('content/sejour escapade resize.jpg') }}" alt="" class="pic">
                        <img src="{{ asset('content/photographie et video resize.jpg') }}" alt="" class="pic">
                        <img src="{{ asset('content/Paul.jpg') }}" alt="" class="pic">
                    </div>
                    <div class="col-12">

                    {# Paragraphe après Carrousel #}
                    <p class="lead text-accueil">
                        L'association « Vélo Rando Nature Bruz » vous propose des balades le long
                        des canaux, des voies vertes et des chemins.
                    </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="center-hr">
        <hr class="hr25-pourcent ">
    </div>


    <h2 id="h2-accueil"> Venez nous rejoindre !</h2>
    {# Les 4 cards de choix, leurs liens, leurs photo, et leurs effets #}
        <div class="container">
            <div class="paragraphe3">

                {# Première Card #}
                <div class=" justify-content-center col-lg-6 col-md-12 taille">
                    <div class="card hovereffect-home border-white mb-4">
                        <a href="{{ path('randosvelo') }}">
                            <img src="{{ asset('content/velo-pont resize.jpg') }}" class="card-img-top"
                                 alt="velo posé sur un pont">
                            <div class="overlay">
                                <h2>L'activité phare de Vélo Rando Nature Bruz</h2>
                            </div>
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">Randos vélo</h5>
                            </div>
                        </a>
                    </div>
                </div>

                {# Seconde Card #}
                <div class=" justify-content-center col-lg-6 col-md-12 taille">
                    <div class="card hovereffect-home border border-white mb-4">
                        <a href="{{ path('formations') }}">
                            <img src="{{ asset('content/formation-menu-resize.jpg') }}" class="card-img-top" alt="...">
                            <div class="overlay">
                                <h2>liste des formations que nous proposons</h2>
                            </div>
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">Formations</h5>
                            </div>
                        </a>
                    </div>
                </div>

                {# Troisième Card #}
                <div class=" justify-content-center col-lg-6 col-md-12 taille">
                    <div class="card hovereffect-home border border-white mb-4">
                        <a href="{{ path('pleinair') }}">
                            <img src="{{ asset('content/2velos resize.jpg') }}" class="card-img-top" alt="...">
                            <div class="overlay">
                                <h2>Bientôt nous vous proposerons d'autres activités telles que le longe-côte...</h2>
                            </div>
                            <div class="card-body d-flex flex-column">
                                <h5 class=" card-title">Autres activités de plein-air</h5>
                            </div>
                        </a>
                    </div>
                </div>

                {# Quatrième Card #}
                <div class=" justify-content-center col-lg-6 col-md-12 taille">
                    <div class="card hovereffect-home border border-white ">
                        <a href="{{ path('activite_index') }}">
                            <img src="{{ asset('content/pleon air resize.jpg') }}" class="card-img-top " alt="...">
                            <div class="overlay">
                                <h2>Le programme de nos activités</h2>
                            </div>
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">Le programme </h5>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>

        <div class="center-hr m-5">
            <hr class="hr25-pourcent center">
        </div>
        {# Le texte sous les cards #}
        <div class="text-bas-page example-wrapper" >
                <p class="lead text-accueil">Vous pourrez découvrir la patrimoine naturel et culturel de notre belle région en
                    pratiquant une activité physique au plus près de la nature.
                </p>
                <p class="lead text-accueil">Si vous souhaitez, « Faire du vélo autrement » dans la bonne humeur et partager des
                    moments de convivialité.
                </p>
        </div>

{% endblock %}
