{% extends 'base.html.twig' %}

{% block title %}Modification d'actualite |{{ parent() }}{% endblock %}

{% block body %}
    <div class="global-actualite">
        <div class="actualite-fond-noir">
            <div class="title-actualite">
                <h1 class="col-12">Modification d'une Actualité</h1>

            </div>

            <div class="div-form-actu">
                {{ form_start(form) }}
                <label>Actualite : </label>
                <p>{{ form_widget(form.actu) }}</p>
                <label>Date :</label>
                <p>{{ form_widget(form.date_actu) }}</p>

                <p class="button-valider-actualite-create">{{ form_widget(form.valider) }}</p>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}