{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} |Mentions légales{% endblock %}
{# page d'affichage du pdf des mentions légales #}

{% block body %}
    {# style initial de bootstrap en css #}
    <style>
        .example-wrapper {
            text-align: center;
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="container-fluid">
    </div>

    {# la banniere  #}
   {#  <div class="container-fluid">
        <img src="{{ asset ('content/ban page menu footer.jpg') }}" class="img-fluid" width="100%">
    </div>
   #}
{# le titre et le bouton d'affichage du pdf en js #}
    <div class="container-fluid">
        <div class="row m-3">
            <div class="example-wrapper"><br>
                <h1 class="font-weight-bold">Mentions légales</h1>
                {#
                <hr>
                <p><img src="{{ asset('content/logo velo.png') }}"></p>
                <hr>
                #}
                <div>
                    <a href="{{ asset('documents/Mentions_legales.pdf') }}">DL</a>
                </div>
                {# <button class="btn btn-primary m-3" onclick="maFonction()">Afficher les mentions légales</button>
                 <div id="maDIV" style="display:none;">
                    <div>

                        <embed src="{{ asset('documents/Mentions_legales.pdf') }}" width=800 height=2300
                               type='application/pdf'/>

                    </div>

                     </div>
                      le js pour fermer ou ouvrir le pdf

                <script>
                    function maFonction() {
                        var div = document.getElementById("maDIV");
                        if (div.style.display === "none") {
                            div.style.display = "block";
                        } else {
                            div.style.display = "none";
                        }
                    }
                </script>


            </div>
                #}
        </div>
    </div>
{% endblock %}