{% extends 'base.html.twig' %}
{% block title %}Création d'un Référent | {{ parent() }}{% endblock %}
{# la page de la liste des référents #}

{% block body %}
    {% if is_granted("ROLE_ADMIN") %}

        <div class="container-fluid">
            <div class="row">


                    <div class="mb-5">
                        {{ form_start(form) }}
                        <div class="row col-lg-12 justify-content-center">

                            <div class="container column-div row form-referent-fond-noir">
                                <div class="container-fluid row title__referent ">

                                    <h1 class="col-lg-12 font-weight-bold">Créer un Référent</h1>
                                </div>
                                <div class="col-lg-6 test-color-size3 container">
                                    <div class="col-lg-4 ">
                                        <label>Nouveau Référent : </label>
                                        <p>{{ form_widget(form.nom) }}</p>
                                    </div>
                                </div>

                                <div class="col-lg-6 test-color-size2 row container">

                                    <div class="col-lg-2 color-size-1">
                                        <label>Ordre : </label>
                                        <p>{{ form_widget(form.ordre) }}</p>

                                    </div>

                                    <div class="col-lg-10 col-md-12 test-color-size">

                                        <p>L'ordre permet de gérer l'affichage des Référents.<br>
                                            <strong>1{</strong>Président<br>
                                            <strong>2{</strong>Trésorier et Secrétaire<br>
                                            <strong>3{</strong>Autres Référents<br>
                                            <strong>4{</strong>Adhérents
                                        </p>

                                    </div>

                                </div>

                                <div class="col-lg-12 button-enregistrer-new-referent">
                                    <div class="d-flex justify-content-center">
                                        <button class="mb-5 mt-2 btn btn-primary btn btn-lg">{{ button_label|default('Enregistrer') }}</button>

                                        <a href="{{ path('referent') }}" class="mb-5 mt-2 btn btn-primary btn btn-lg espace-button-referent">Retour</a>
                                    </div>
                                </div>
                            </div>


                        </div>
                        {{ form_end(form) }}
                    </div>



            </div>
        </div>

    {% endif %}
{% endblock %}