{% extends 'base.html.twig' %}

{% block body%}



    <div class="container-fluid box1">
        <div class="main__partenaire">
            <div class="form__partenaire">
                <div class="title__partenaire">
                    <h1 class="col-12">Création d'un Partenaire</h1>
                </div>
                <label>Nom:</label>
            {{ form_start(formPartenaire) }}
                {{ form_widget(formPartenaire.nom) }}
                <p id="form_file">{{ form_widget(formPartenaire.logo) }}</p>
                <label>Url:</label>
                {{ form_widget(formPartenaire.url) }}
                <div class="m-3 d-flex justify-content-center">
                {{ form_widget(formPartenaire.Valider) }}
                </div>
            {{ form_end(formPartenaire) }}
            </div>
        </div>
    </div>
{% endblock %}