<div class="container">
    <div class="form__activite">

        {# Le titre #}
        <div class="title_form  col-lg-12">
            <p>Création d'une activité</p>
        </div>

        {# formulaire des activités #}
        <div class="gauche-form-activite col-lg6">
            {{ form_start(form) }}
            <p>Nom: {{ form_widget(form.nom) }}</p>
            <p>Categorie: {{ form_widget(form.categorie) }}</p>
            <p>Date: {{ form_widget(form.date_activite) }}</p>
            <p>Durée: {{ form_widget(form.duree) }}</p>
            <p>Distance: {{ form_widget(form.distance) }}</p>
        </div>

        <div class="droite-form-activite col-lg-6">
            <p>Infos: {{ form_widget(form.infos_activite) }}</p>
            <p>Denivele: {{ form_widget(form.denivele) }}</p>
            <p>Difficulte: {{ form_widget(form.difficulte) }}</p>
            <p>{{ form_widget(form.lieu) }}</p>
        </div>

        <div class="bas-form-activite col-12">

            <div class="bas-form-activite1">
                {{ form_widget(form.valider) }}
                {{ form_end(form) }}
            </div>

            <div class="bas-form-activite2">
                <a class="butonPersonnalise" href="{{ path('activite_index') }}">Retour</a>
            </div>

        </div>
    </div>
</div>
