{% extends 'base.html.twig' %}

{% block title %}programme des activités |{{ parent() }}{% endblock %}
{# La page liste des activités #}
{% block body %}

    {# Le titre#}

    <div class="title-activite row">
        <h1 class="col-12">Programme des Activités</h1>
        <hr>
    </div>

    <div class="container-fluid">
        <div class="row-container row">

            {# On inclut le filtre #}
            <div class="col-lg-2 col-sm-12">
                {% include 'activite/_filter.html.twig' with {form: form} only %}
            </div>

           <div class="col-lg-8 col-sm-12">

               {# On boucle sur Activite afin d'afficher toutes les activites #}
                {% for activite in activites %}

                    {# Seulement si l'état de l'activité est ouverte ou modifier #}
                    {% if (activite.etat.libelle =="ouverte") or (activite.etat.libelle =="modifiée") %}
                <div class="activite-container row col-12">

                        <div class="sans-detail-container row col-12">

                            {# Partie Date #}
                            <div class="date-container col-2">
                                <p id="date-activite">{{ activite.dateActivite()|date('j')}}</p>
                                <p>{{ activite.dateActivite()|date('F')}}</p>
                                <p>{{ activite.dateActivite()|date('h:i')}}</p>
                            </div>

                            <div class="nom-container row col-8">
                                <div class="info-activite row col-9">

                                    {# Partie Activité#}
                                    <div class="title-container-programme col-12">
                                        <p id="title-activite">{{ activite.nom }}</p>
                                    </div>

                                    <div class="type-activite-lieu row col-12">
                                        <div class="type-activite">
                                            <p class="font-bold-activite">Activité: </p>
                                            <p class="padding-activite">{{ activite.categorie().getLibelle() }}</p>
                                        </div>
                                        <div class="type-activite">
                                            <p class="font-bold-activite">Ville: </p>
                                            <p class="padding-activite">{{ activite.lieu.nomVille|slice(0,20) }}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="is-inscrit col-3">
                                    {# Si l'utilisateur est inscrit à l'activité alors une image check s'affichera #}
                                    {% if activite.users.contains(user) %}

                                    <img src="{{ asset("tools/check.png") }}" alt="">

                                    {% endif %}

                                </div>

                            </div>

                        </div>

                        <div class="detail-container col-11">
                            <div class="row">
                                <div class="detail-gauche col-8">

                                    {# Partie Informations #}
                                    <div class="type-activite">
                                    <p class="font-bold-activite">Organisateur: </p>
                                    <a href="{{ path('user_show', {'id': activite.organisateur.id}) }}">
                                        {{ activite.organisateur.prenom }} {{ activite.organisateur.nom }}</a>
                                    </div>
                                    <div class="type-activite">
                                        <p class="font-bold-activite">Durée:</p>
                                        <p>{{ activite.duree }} minute</p>
                                    </div>
                                    <div class="type-activite">
                                        <p class="font-bold-activite">Lieu de rassemblement: </p>
                                        <p>{{ activite.lieu().getNomRue() }}</p>
                                    </div>

                                    {# Si il n'y as pas de denivele on l'affiche pas sinon on l'affiche #}
                                    {% if (activite.denivele is empty)%}
                                    {% else %}
                                        <div class="type-activite">

                                            <p class="font-bold-activite">Info activité: </p>
                                            <p>{{ activite.getInfosActivite() }}</p>

                                        </div>
                                    {% endif %}

                                </div>
                                <div class="detail-droite col-4">
                                    <div class="difficulte-activite">
                                    {# S'il n'y as pas de difficulté on affiche rien #}
                                    {% if (activite.getDifficulte() == 0 or activite.getDifficulte() is empty)%}
                                    {% else %}

                                        {# Si la difficulté est égale à 1 on affiche l'image 1 #}
                                        {% if ( activite.getDifficulte() == 1) %}
                                        <img src="{{ asset("tools/difficulte1.png") }}" alt="">

                                        {# Sinon si la difficulté est égale à 2 on affiche l'image 2 #}
                                        {% elseif ( activite.getDifficulte() == 2) %}
                                        <img src="{{ asset("tools/difficult2.png") }}" alt="">

                                        {# Sinon on affiche l'image 3 #}
                                        {% else %}
                                        <img src="{{ asset("tools/difficult3.png") }}" alt="">
                                        {% endif %}

                                    {% endif %}

                                    </div>

                                    {# S'il n'y as pas de denivele on affiche rien sinon on affiche le denivele #}
                                    {% if (activite.denivele == 0 or activite.denivele is empty)%}
                                    {% else %}
                                        <div class="type-activite">
                                            <p class="font-bold-activite">Dénivelé: </p>
                                            <p>{{ activite.denivele }} mètre</p>
                                        </div>
                                    {% endif %}

                                    {# S'il n'y as pas de distance on affiche rien sinon on affiche la distance #}
                                    {% if (activite.distance == 0 or activite.distance is empty)%}
                                    {% else %}
                                        <div class="type-activite">
                                            <p class="font-bold-activite">Distance: </p>
                                            <p>{{ activite.distance }} kilomètre</p>
                                        </div>
                                    {% endif %}

                                </div>
                            </div>
                        </div>

                        {# Partie Inscription #}
                        <div class="buton-container row col-11">

                            {# On indique le nombre d'inscrit #}
                            <div class="inscrit col-6">
                            <p>il y a {{ activite.users.count }} inscrits a cette activité</p>
                            </div>
                            <div class="boutton_box col-6">
                                {# Si le role de la personne est minimum Adhérent alors il peu s'inscrire #}
                                {% if is_granted(["ROLE_USER"]) %}

                                    {# Si l'adhérent est inscrit alors il peut se desister #}
                                    {% if (activite.users.contains(user)) %}
                                        <a class="butonPersonnalise" href="{{ path('activite_sedesister', {'id': activite.id}) }}"
                                           >se désister</a>

                                    {# Sinon il peu s'inscrire #}
                                    {% else %}
                                        <a class="butonPersonnalise" href="{{ path('activite_sinscrire', {'id': activite.id}) }}"
                                           >s'inscrire</a>
                                    {% endif %}

                                {% endif %}

                            </div>
                        </div>

                </div>

                    {% endif %}
                {% endfor %}

            </div>

        </div>
    </div>

    {# Pour trier les colonnes bootstrap en js#}
    <script>
        function starsSorter(a, b)
        {
            if (new Date(a) > new Date(b)) return 1;
            if (new Date(a) < new Date(b)) return -1;
            return 0;
        }
    </script>
{% endblock %}


