{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}{% endblock %}
{# La page Créer un album #}
{% block body %}

    <div class="container">
        <div class="placement_box col-12">
            <div class="form_image_album">

                {# Le Titre #}
                <div class="title_form col-12">
                    <p>Ajout d'image a l'album</p>
                </div>

                {# Le formulaire d'ajout d'une photo #}
                <div class="centre_form_image_album col-12">
                    {{ form_start(form) }}
                    <p>Insérer une photo</p>
                    {{ form_widget(form.image) }}
                </div>

                <div class="bas_form_image_album col-12">

                    {# Le bouton Valider #}
                    <div class="bas_form_image_album1">
                        {{ form_widget(form.valider) }}
                        {{ form_end(form) }}
                    </div>

                    {# Le bouton Retour #}
                    <div class="bas_form_image_album2">
                        <a class="butonPersonnalise" href="{{ path('album') }}">Retour</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}