{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Contact{% endblock %}
{# La page contact #}
{% block body %}

    <div class="row d-flex justify-content-center">

            <div class="m-3 col-lg-6 mb-5">
                <div class="title-nous-contacter">
                    <h1>Nous contacter</h1>
                </div>
                <div class="center-hr">
                    <hr class="hr25-pourcent center">
                </div>

                {# On importe les champs du formulaire #}

                {{ form_start(contactForm) }}
                <p> Nom : {{ form_widget(contactForm.nom) }}</p>
                <p> Mail : {{ form_widget(contactForm.email) }}</p>
                <p> Message : {{ form_widget(contactForm.message) }}</p>
                <p>{{ form_widget(contactForm.envoyer) }}</p>

                 {{ form_end(contactForm) }}

            </div>

    </div>

{% endblock %}
