{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Contact{% endblock %}
{# la page contact #}
{% block body %}

    <div class="row d-flex justify-content-center">
        <div class="col-4">
            <div class="m-3 mb-5">
                <h1>Nous contacter</h1>

                {# on importe les champs du formulaire #}
                {{ form(contactForm) }}
                <div> {{ form_start(contactForm) }}</div>
                <div>  {{ form_widget(contactForm.nom) }}</div>
                <div> {{ form_widget(contactForm.email) }}</div>
                <div> {{ form_widget(contactForm.message) }}</div>
                <div>{{ form_widget(contactForm.envoyer) }}</div>

                <div> {{ form_end(contactForm) }}</div>

            </div>
        </div>

        {# l'iframe de la carte google #}
        <div class="m-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2668.720611233386!2d-1.7574356843551209!3d48.0191073792142!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x480f1ef2cdd24d6f%3A0xc61fe53b8132941d!2s31%20Rue%20des%20Forges%2C%2035170%20Bruz!5e0!3m2!1sfr!2sfr!4v1613063726862!5m2!1sfr!2sfr"
                    width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
        </div>
    </div>

{% endblock %}
