{% extends 'base.html.twig' %}

{% block title %}Trombinoscope | {{ parent() }}{% endblock %}

{# ATTENTION cette twig correspond à la page du trombinoscope #}

{% block body %}

    {% if is_granted("ROLE_USER") %}
    {# stylisation en css des photos du trombi #}

        {# <div class="container-fluid">
            <img src="{{ asset ('content/velo-pont resize.jpg') }}" class="img-fluid pb-4" width="100%">
        </div> #}
    {# titre #}
    <div class="text-center m-3">
        <h1>Trombinoscope</h1>
        <div>
        <hr class="hr-trombinoscope">
        </div>
        <h2>Bureau</h2>
    </div>


    <div class="container">
        <div class="row mb-3" align="center">

            {# on boucle sur les utilisateurs #}
            {% for user in users %}
                <div class="col-lg-3 col-md-4 col-sm-5 col-6 mt-5 ">
                    <div class="card hovereffect" style=" border: solid 1px lightgrey;"
                         style="width:300px ;height: 15em; object-fit:cover">

                        {# si le user a une photo #}
                        {% if (user.photos is not empty) %}

                            {# on boucle sur les photos et on les affiche, avec son pseudo, son nom et prenom #}
                            {% for photo in user.photos %}
                                <img class="card-img-top img-fluid display: block "
                                     src="{{ asset ('photo-profil/'~ photo.name) }}" alt="Card image cap " style="width: auto;
                                         height: 15em;
                                             object-fit: cover;border: solid 1px lightgrey;">
                                <div class="overlay">
                                    <h2>{{ user.username }}</h2>
                                    <a class="info small"
                                       href="{{ path('user_show',{ 'id': user.id}) }}">{{ user.prenom }} {{ user.nom }}</a>
                                </div>
                            {% endfor %}

                            {# s'il n'a pas de photos, on lui met un logo avec son pseudo, son nom et prenom #}
                        {% else %}
                            <img class="card-img-top img-fluid display:block  "
                                 src="{{ asset('logos/logo velo bleu.png') }}" alt="Card image cap" style=" width:300px;
    height:15em;  object-fit:cover;border: solid 1px lightgrey;">
                            <div class="overlay">
                                <h2>{{ user.username }}</h2>
                                <a class="info small"
                                   href="{{ path('user_show',{ 'id': user.id}) }}">{{ user.prenom }} {{ user.nom }}</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
        }
    {% else %}
        <div class="row text-center">
        <h2 class="text-danger">Vous  n'avez pas les droits pour accéder à cette page</h2>
        </div>
    {% endif %}
{% endblock %}
