{% extends 'base.html.twig' %}

{% block title %}recap des activités |{{ parent() }}{% endblock %}
{# twig d'affichage de la page liste des activités finie #}
{% block body %}
    <div class="title-recap-activite row">
        <h1>Recapitulatif des Activités</h1>
        <hr>
    </div>

    <div class="container-fluid">
        <div class="row-container row">
            <div class="col-lg-2 col-sm-12">
                {% include 'activite/_filter.html.twig' with {form: form} only %}
            </div>
            <div class="col-lg-8 col-sm-12">
                {% for activite in activites %}
                    {% if(activite.etat.libelle =="finie")%}
                        <div class="activite-container row col-12">
                            <div class="sans-detail-container row col-12">

                                <div class="date-container col-2">
                                    <p id="date-activite">{{ activite.dateActivite()|date('j') }}</p>
                                    <p>{{ activite.dateActivite()|date('F') }}</p>
                                    <p>{{ activite.dateActivite()|date('h:i') }}</p>
                                </div>

                                <div class="nom-container row col-8">
                                    <div class="info-activite row col-9">

                                        <div class="title-container-programme col-12">
                                            <p id="title-activite">{{ activite.nom }}</p>
                                        </div>

                                        <div class="type-activite-lieu row col-12">
                                            <div class="type-activite">
                                                <p class="font-bold-activite">Activité: </p>
                                                <p class="padding-activite">{{ activite.categorie().getLibelle() }}</p>
                                            </div>
                                            <div class="type-activite">
                                                <p class="font-bold-activite">Ville: </p>
                                                <p class="padding-activite">{{ activite.lieu.nomVille|slice(0,20) }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="is-inscrit col-3">
                                        {% if activite.users.contains(user) %}
                                            <img src="{{ asset("tools/check.png") }}">
                                        {% endif %}
                                    </div>
                                </div>

                            </div>
                            <div class="detail-container col-11">
                                <div class="row">
                                    <div class="detail-gauche col-8">
                                        <div class="type-activite">
                                            <p class="font-bold-activite">Organisateur: </p>
                                            <a href="{{ path('user_show', {'id': activite.organisateur.id}) }}">
                                                {{ activite.organisateur.prenom }} {{ activite.organisateur.nom }}</a>
                                        </div>
                                        <div class="type-activite">
                                            <p class="font-bold-activite">Durée:</p>
                                            <p>{{ activite.duree }} minute</p>
                                        </div>
                                        <div class="type-activite">
                                            <p class="font-bold-activite">Lieu de rassemblement: </p>
                                            <p>{{ activite.lieu().getNomRue() }}</p>
                                        </div>
                                        {% if (activite.denivele == '')%}
                                        {% else %}
                                            <div class="type-activite">
                                                <p class="font-bold-activite">Info activité: </p>
                                                <p>{{ activite.getInfosActivite() }}</p>
                                            </div>
                                        {% endif %}

                                    </div>
                                    <div class="detail-droite col-4">
                                        <div class="difficulte-activite">
                                            {% if (activite.getDifficulte() == 0 or activite.getDifficulte() == '')%}
                                            {% else %}
                                                {% if ( activite.getDifficulte() == 1) %}
                                                    <img src="{{ asset("tools/difficulte1.png") }}" alt="">
                                                {% elseif ( activite.getDifficulte() == 2) %}
                                                    <img src="{{ asset("tools/difficult2.png") }}" alt="">
                                                {% else %}
                                                    <img src="{{ asset("tools/difficult3.png") }}" alt="">
                                                {% endif %}
                                            {% endif %}
                                        </div>

                                        {% if (activite.denivele == 0 or activite.denivele == '')%}
                                        {% else %}
                                            <div class="type-activite">
                                                <p class="font-bold-activite">Dénivelé: </p>
                                                <p>{{ activite.denivele }} mètre</p>
                                            </div>
                                        {% endif %}

                                        {% if (activite.distance == 0 or activite.distance == '')%}
                                        {% else %}
                                            <div class="type-activite">
                                                <p class="font-bold-activite">Distance: </p>
                                                <p>{{ activite.distance }} kilomètre</p>
                                            </div>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                            {#  #}<div class="buton-container row col-11">
                                <div class="inscrit col-6">
                                    <p> {{ activite.users.count }} personne(s) ont participé(s) à cette activité</p>
                                </div>
                                <div class="button col-6">
                                    {% if is_granted(["ROLE_USER"]) %}
                                        {# ou que l'adhérent est inscrit #}
                                        {% if (activite.users.contains(user)) %}
                                            {#<a href="{{ path('activite_sedesister', {'id': activite.id}) }}"
                                       class="btn btn-info btn-sm">se désister</a> #}

                                            {# s'il n'est pas inscrit #}
                                        {% else %}
                                            {# <a href="{{ path('activite_sinscrire', {'id': activite.id}) }}"
                                       class="btn btn-info btn-sm">s'inscrire</a> #}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>






    {# la banniere, le titre et le logo #}
    {# <div class="container-fluid">
        <img src="{{ asset ('content/ban page menu footer.jpg') }}" class="img-fluid" width="100%">
    </div>
    <div class="container-fluid">
    {#<div class="row row d-flex justify-content-center">

    <div class="example-wrapper pb-2 text-center"><br>
    <H1 class="font-weight-bold">Programme des Activités finies</H1>
    <hr>


     <img class="img-fluid" src="{{ asset('content/logo velo.png') }}">
    <hr>
    <div class="p-3">


    {% if is_granted(["ROLE_ADMIN"]) %}
        {# <h3> Ajoutez les pdfs sur la colonne 'Actions', vous pourrez également les effacer</h3>
        <p>Voir les détails de l'activité et son pdf en cliquant sur 'détail'</p>
        <p >Pour effacer une activité, retournez dans la page de gestion des activités</p>


        </div>
        </div>
        </div>
        </div>

         la table des activités
        <div class="row m-6 d-flex justify-content-center">
            <div class="col-auto">
                <table class="table-hover table-striped table-sm table-bordered table-responsive" data-toggle="table"
                       data-search="true" data-show-columns="true" data-pagination="true">

                    <thead class="text-center">
                    <tr class="thead-light">
                        {# ici on peut filtrer les champs de toutes les colonnes
                        <th data-sortable="true" data-field="nom">Activité</th>
                        <th data-sortable="true" data-field="date" data-sorter="starsSorter">Date de l'activité</th>
                        <th data-sortable="true" data-field="duree">Durée</th>
                        <th data-sortable="true" data-field="distance">Distance</th>
                        {# <th>Informations</th>
                        <th data-sortable="true" data-field="denivele">Dénivelé</th>
                        <th data-sortable="true" data-field="difficulte">Difficulté</th>
                        <th data-sortable="true" data-field="lieu">Lieu</th>
                        <th data-sortable="true" data-field="organisateur">Organisateur</th>
                        <th>Actions</th>

                    <tbody class="text-center">
                    {% for activite in activites %}

                        <tr>

                            <td>{{ activite.nom }}</td>

                            <td>{{ activite.dateActivite ? activite.dateActivite|date('d-m-Y') : '' }}</td>
                            <td>{{ activite.duree }} mn</td>
                            <td>{{ activite.distance }} km</td>
                            {# <td>{{ activite.infosActivite|slice(0,40)~"..."  }}</td>
                            <td>{{ activite.denivele }} m</td>
                            <td>{{ activite.difficulte }}/3</td>
                            <td>{{ activite.lieu.nomVille|slice(0,20) }}</td>
                            <td>
                                <a href="{{ path('user_show', {'id': activite.organisateur.id}) }}"> {{ activite.organisateur.prenom }} {{ activite.organisateur.nom }}</a>
                            </td>
                            <td>
                                <a href="{{ path('detailrecap', {'id': activite.id}) }}"
                                   class="btn btn-primary btn-sm">détails</a>
                                <a href="{{ path('editrecap', {'id': activite.id}) }}"
                                   class="btn btn-warning btn-sm">ajouter pdf recap</a>

                            </td>
                        </tr>
                    {% endfor %}
                    </thead>
                </table>
            </div>
        </div>


   {% elseif is_granted("ROLE_USER") %}

        <H3>Voir les détails de l'activité et son pdf en cliquant sur 'détail'</H3>
        </div>
        </div>
        </div>
        </div>



        <div class="row m-6 d-flex justify-content-center">
            <div class="col-auto">
                <table class="table-hover table-striped table-sm table-bordered table-responsive" data-toggle="table"
                       data-search="true" data-show-columns="true" data-pagination="true">

                    <thead class="text-center">
                    <tr class="thead-light">
                        {# ici on peut filtrer les champs de toutes les colonnes
                        <th data-sortable="true" data-field="nom">Activité</th>
                        <th data-sortable="true" data-field="date" data-sorter="starsSorter">Date de l'activité</th>
                        <th data-sortable="true" data-field="duree">Durée</th>
                        <th data-sortable="true" data-field="distance">Distance</th>
                        {# <th>Informations</th>
                        <th data-sortable="true" data-field="denivele">Dénivelé</th>
                        <th data-sortable="true" data-field="difficulte">Difficulté</th>
                        <th data-sortable="true" data-field="lieu">Lieu</th>
                        <th data-sortable="true" data-field="organisateur">Organisateur</th>
                        <th>Actions</th>

                    <tbody class="text-center">
                    {% for activite in activites %}

                        <tr>

                            <td>{{ activite.nom }}</td>

                            <td>{{ activite.dateActivite ? activite.dateActivite|date('d-m-Y') : '' }}</td>
                            <td>{{ activite.duree }} mn</td>
                            <td>{{ activite.distance }} km</td>
                            {#  <td>{{ activite.infosActivite|slice(0,40)~"..."  }}</td>
                            <td>{{ activite.denivele }} m</td>
                            <td>{{ activite.difficulte }}/3</td>
                            <td>{{ activite.lieu.nomVille|slice(0,20) }}</td>
                            <td>
                                <a href="{{ path('user_show', {'id': activite.organisateur.id}) }}"> {{ activite.organisateur.prenom }} {{ activite.organisateur.nom }}</a>
                            </td>
                            <td>
                                <a href="{{ path('detailrecap', {'id': activite.id}) }}"
                                   class="btn btn-primary btn-sm">détails</a>

                            </td>
                        </tr>
                    {% endfor %}
                    </thead>
                </table>
            </div>
        </div>


{#  <div class="text-center m-3"> <a href="{{ path('home1') }}"
                                         class="btn btn-lg btn-primary ">retour à la l'accueil</a>
        </div>
       {#  {% else %}
            <div class="row text-center"
            <h2 class="text-danger">Vous  n'avez pas les droits pour accéder à cette page</h2>
            </div>
{% endif %}#}

{% endblock %}