{% extends 'base.html.twig' %}

{% block title %}Modifier adhérent | {{ parent() }}{% endblock %}
{# la page de modification de user #}

{% block body %}

   {#  <div class="container-fluid">
        <img src="{{ asset ('/content/user ban pages user.jpg') }}" class="img-fluid" width="100%">
    </div>
   #}

    <div class=" title-modifier-profil-admin">
        <h1>Modifier le profil</h1>
    </div>
    <div class="center-hr">
        <hr class="hr25-pourcent center">
    </div>


    <div class="admin-profil-fond-noir col-lg-6 col-sm-12 container-fluid">
    {% if (user1 == user.username) or is_granted("ROLE_ADMIN") %}

        {# on boucle sur les photos #}
        <div class="row justify-content-center m-3">
            <div class="row d-flex col-lg-4 ">
                {% for photo in user.photos %}
                    <div>
                    {# on affiche la photo #}
                    <img src="{{ asset ('photo-profil/'~ photo.name) }}" class="col-lg-6 img-fluid affichage-admin-photo-profiledit" width="500em">
                    </div>
                    <div>
                    {# On ajoute un lien permettant de supprimer une image (sera géré en Ajax) #}
                    <a class="col-lg-1 text-white" href="{{ path('user_delete_photo', {id: photo.id}) }}" data-delete
                       data-token="{{ csrf_token('delete' ~ photo.id ) }}">Supprimer</a>
                    </div>
                {% endfor %}
            </div>
        </div>

        {# on inclue le formulaire #}
        {{ include('user/_form.html.twig', {'button_label': 'Enregistrer'}) }}

        {# on inclue le formulaire d'effacement #}
        <div class=" d-flex col-lg-12 justify-content-center">
            {{ include('user/_delete_form.html.twig') }}
        </div>
        </div>

    {% else %}
        <a href="{{ path('home1') }}" class="btn btn-lg btn-danger">Vous n'avez pas accès à ces droits</a>
    {% endif %}

{% endblock %}
{# on appelle la fonction javascript dans le dossier js de public #}
{% block javascripts %}
    <script src="{{ asset('js/images.js') }}"></script>
{% endblock %}
