{% extends 'base.html.twig' %}

{% block title %}Modifier adhérent | {{ parent() }}{% endblock %}
{# la page de modification d'un Adhérent #}

{% block body %}

    {# Si l'Utilisateur en session est également au pseudo ou qu'il est Administrateur alors il peut modifier le profil #}
    {% if (user1 == user.username) or is_granted("ROLE_ADMIN") %}


<div class="container">
        {{ form_start(form) }}
        <div class="form_adhérent">
            <div class="centre_form_adhérent">
                <div class="title_form">
                    <h1>Modifier le profil</h1>
                </div>

                {# On boucle sur photos #}
                {% for photo in user.photos %}

                    {# Si photo est vide on affiche rien #}
                    {% if photo is empty %}

                    {# Sinon on affiche la photo de profil de l'Utilisateur#}
                    {% else %}
                        <div class="adherent_photo_profil">
                            <div class="photo_profil">
                                {# On affiche la photo #}
                                <img src="{{ asset ('photo-profil/'~ photo.name) }}" alt="photo profil">
                            </div>
                            <div>
                                {# On ajoute un lien permettant de supprimer une image #}
                                <a class="col-lg-1 text-white" href="{{ path('user_delete_photo', {id: photo.id}) }}" data-delete
                                   data-token="{{ csrf_token('delete' ~ photo.id ) }}">Supprimer</a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

                {# Le formulaire #}
                <div class="adhérent_widget">
                    <p>Role :</p>
                    <p>{{ form_widget(form.roles) }}</p>
                </div>
                <div class="adhérent_widget">
                    <p>Référent :</p>
                    <p>{{ form_widget(form.referents) }}</p>
                </div>
                <div class="adhérent_widget">
                    <p>Prénom :</p>
                    <p>{{ form_widget(form.prenom) }}</p>
                </div>
                <div class="adhérent_widget">
                    <p>Nom :</p>
                    <p>{{ form_widget(form.nom) }}</p>
                </div>
                <div class="adhérent_widget">
                    <p>Pseudo :</p>
                    <p>{{ form_widget(form.username) }}</p>
                </div>
                <div class="adhérent_widget">
                    <p>Mail :</p>
                    <p>{{ form_widget(form.email) }}</p>
                </div>
                <div class="adhérent_widget">
                    <p>Téléphone :</p>
                    <p>{{ form_widget(form.telephone) }}</p>
                </div>
                <div class="adhérent_widget">
                    <p>Mot de passe :</p>
                    <p>{{ form_widget(form.password) }}</p>
                </div>
                <div class="adhérent_widget">
                    <p>Date de naissance :</p>
                    <p>{{ form_widget(form.date_naissance) }}</p>
                </div>
                <div class="adhérent_widget">
                    <p>Photo du profil :</p>
                    <p>{{ form_widget(form.photos) }}</p>
                </div>
            </div>

            <div class="bas_form_adhérent col-12">

                {# Le bouton Enregistrer #}
                <div class="bas_form_adhérent1">
                    {{ form_widget(form.enregistrer) }}
                    {{ form_end(form) }}
                </div>

                {# Le bouton Retour #}
                <div class="bas_form_adhérent2">
                    <a href="{{ path('user_index') }}" class="butonPersonnalise">Retour</a>
                </div>
            </div>
        </div>
</div>

    {% else %}
        <a href="{{ path('home1') }}" class="btn btn-lg btn-danger">Vous n'avez pas accès à ces droits</a>
    {% endif %}

{% endblock %}
{# on appelle la fonction javascript dans le dossier js de public #}
{% block javascripts %}
    <script src="{{ asset('js/images.js') }}"></script>
{% endblock %}
