{% extends 'base.html.twig' %}

{% block title %}Modifier Profil  | {{ parent() }}{% endblock %}
{# page de modification du profil #}

{% block body %}

    {% if is_granted("ROLE_USER") %}
    {# <div class="container-fluid">
        <img src="{{ asset ('content/user ban pages user.jpg') }}" class="img-fluid" width="100%">
    </div> #}
<div class="global-profiledit row col-lg-12 col-sm-10">
    <div class="row col-lg-6 col-sm-10 justify-content-center profil-fond-noir border">
        <div class="col-lg-12 m-5 d-flex justify-content-center border">
            <h1>Profil</h1>
        </div>

    {# pour voir si l'utilisateur est bien le meme que le profil qu'il regarde #}
    {% if user.username == user1 %}
        <div class="row position-photo-profiledit col-lg-6 col-sm-8">

                {# on boucle sur les photos pour l'afficher#}
                {% for photo in user.photos %}
                    <img src="{{ asset ('photo-profil/'~ photo.name) }}" class="img-fluid affichage-photo-profiledit col-lg-6">

                    {# On ajoute un lien permettant de supprimer une image (sera géré en Ajax) #}
                    <a href="{{ path('user_delete_photo', {id: photo.id}) }}" data-delete
                       data-token="{{ csrf_token('delete' ~ photo.id ) }}" class="text-white col-lg-6 col-sm-8">Supprimer</a>
                {% endfor %}
        </div>

        {# on appelle le formulaire user #}
        {{ form_start(form) }}
        <div class="row d-flex justify-content-center col-lg-12">
            <div class="col">
                <table class="table table-borderless d-flex justify-content-center">
                    <tbody>
                    <tr>{# on le cache pour ne pas l'afficher et eviter qu'il s'affiche plus bas #}
                        <th hidden scope="col">role :</th>
                        <td hidden>{{ form_widget(form.roles) }} </td>
                    </tr>

                    <tr>
                        <th scope="col">Prénom :</th>
                        <td>{{ form_widget(form.prenom) }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Nom :</th>
                        <td>{{ form_widget(form.nom) }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Pseudo :</th>
                        <td>{{ form_widget(form.username) }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Mail :</th>
                        <td>{{ form_widget(form.email) }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Téléphone :</th>
                        <td>{{ form_widget(form.telephone) }}</td>
                    </tr>

                    <tr>
                        <th scope="col">Mot de passe :</th>
                        <td>{{ form_widget(form.password) }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Date de Naissance :</th>
                        <td>{{ form_widget(form.date_naissance) }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Photo du profil :</th>
                        <td>{{ form_widget(form.photos) }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row d-flex justify-content-center">

            <div class="col-lg-3 col-sm-6">
            <button class="mb-5 mt-2 btn btn-primary btn btn-lg ">{{ button_label|default('Enregistrer') }}</button>
            </div>
            <div class="col-lg-3 col-sm-6">
            <a href="{{ path('user_show', { 'id': app.user.id}) }}"
               class="mb-5 mt-2 btn btn-outline-primary btn btn-lg bg-light">Retour</a>
            {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
    {% else %}
        <div class="row d-flex justify-content-center m-3">
            <a href="{{ path('home1') }}" class=" btn btn-lg btn-danger "> vous n'avez pas les droits pour modifier le
                mot de passe</a>
        </div>
    {% endif %}
        {% else %}
    {% endif %}
{% endblock %}


{# on appelle la fonction javascript dans le dossier js de public #}
{% block javascripts %}
    <script src="{{ asset('js/images.js') }}"></script>
{% endblock %}