{% extends 'base.html.twig' %}

{% block title %}Détails utilisateur  | {{ parent() }}{% endblock %}
{# page d'affichage des détails d'un utilisateur #}
{% block body %}

    {# banniere #}
    {# <div class="container-fluid">
        <img src="{{ asset ('content/user ban pages user.jpg') }}" class="img-fluid" width="100%">
    </div>
    #}
    <div class="row global-profil-show">
        {# titre #}
    <div class=" col-lg-12 d-flex justify-content-center">
        <h1>Profil</h1>

    </div>
        <div class="center-hr ">
            <hr class="hr25-pourcent center">
        </div>
    {# on boucle sur les photos pour l'afficher #}
<div class="row justify-content-center global-div-img-profil">
        <div class="position-photo-show col-lg-3 col-sm-5">
            {% for photo in user.photos %}
                <img src="{{ asset ('photo-profil/'~ photo.name) }}" class="img-fluid affichage-photo-show"
                     style="width: 30rem  ;height: 20rem; object-fit: cover">
            {% endfor %}
        </div>
        <div class=" col-lg-3 col-sm-12">
        {# on affiche les caracteristiques issues de la bdd #}
        <table class="affichage-profil table table-borderless d-flex">
            <tbody>
                <tr>
                    <th>Pseudo</th>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <th>Roles</th>
                    <td> {% if (user.roles|json_encode) =='["ROLE_USER"]' %}
                            Adhérent
                        {% elseif (user.roles|json_encode) =='["ROLE_ADMIN","ROLE_USER"]' %} Administrateur
                        {% else %}
                        {% endif %}
                    </td>
                </tr>
                {# <tr>
                    <th>Mot de passe</th>
                    <td>{{ user.password }}</td>
                </tr> #}
                <tr>
                    <th>Nom</th>
                    <td>{{ user.nom }}</td>
                </tr>
                <tr>
                    <th>Prénom</th>
                    <td>{{ user.prenom }}</td>
                </tr>
                <tr>
                    <th>Téléphone</th>
                    <td>{{ user.telephone }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>Date de Naissance</th>
                    <td>{{ user.dateNaissance ? user.dateNaissance|date('d-m-Y') : '' }}</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
    </div>
    <div class="mt-3 mb-5 text-center">

            {# si l'utilisateur est bien celui a qui appartien le profi #}
        {% if user.username == user1 %}
            <a href="{{ path('home1') }}" class="btn btn-outline-primary btn btn-lg">Retour</a>
            {# <a href="{{ path('app_reset_password', { 'id': app.user.id}) }}" class="btn btn-warning btn btn-lg">modifier
                mot de passe</a> #}
            <a href="{{ path('profiledit',{ 'id': app.user.id}) }}" class="btn btn-primary btn btn-lg">Modifier</a>

        {% elseif userrole == ["ROLE_ADMIN","ROLE_USER"] %}
            <a href="{{ path('user_index') }}" class="btn btn-outline-primary btn btn-lg">Retour à la liste</a>
        {% else %}
            <a href="{{ path('home1') }}" class="btn btn-outline-primary btn btn-lg">Retour à l'accueil</a>
        {% endif %}

        {# <a href="{{ path('user_edit', {'id': user.id}) }} "class="btn btn-primary btn btn-lg">edit</a> #}
    </div>
    {# {{ include('user/_delete_form.html.twig') }} #}
{% endblock %}


